:root {
    --very-dark-emerald: #004225;
    --dark-emerald: #006241;
    --emerald: #00804D;
    --light-emerald: #00A05A;
    --very-light-emerald: #00C166;

    --very-dark-red: #8B0000;
    --dark-red: #B22222;
    --red: #FF0000;
    --light-red: #FF6347;
    --very-light-red: #FF7F50;
}